/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2023, 23:01:40
    Author     : User
*/
.navbar {
    background-color: #17a2b8 !important; /* Fondo celeste para la barra de navegación */
}

.sidebar {
    background-color: #f8f9fa; /* Fondo de la barra lateral */
    color: #000; /* Color del texto en la barra lateral */
    transition: all 0.3s ease; /* Transición para suavizar los cambios */
}

.sidenav {
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000;
   background-color: #17a2b8 !important; /* Resalte de color celeste al pasar el cursor */
}

/* Estilos para el contenido principal */
main {
    background-color: #ecf0f1; /* Fondo del contenido principal */
    padding: 20px;
}

/* Estilos para el pie de página */
.footer {
    text-align: center;
    padding: 10px;
    color: #ffffff; /* Color del texto en el pie de página */
    background-color: #17a2b8 !important; /* Fondo celeste para el pie de página */
}

.sidenav a.reportes-link {
    color: tomato; /* Cambiar al color tomate */
}



    /* Estilo para la barra de navegación Bootstrap */
    ul.nav-tabs {
      margin-top: 20px;
    }

    /* Estilo para las secciones */
    .tab-content {
      padding: 20px;
    }

    /* Estilo para los contenedores de código */
    .codigo-container {
      border: 1px solid #ddd;
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
/* Estilo para la barra de búsqueda y botones */
    .input-group {
        width: 300px;
        margin-right: 10px;
    }

    .btn {
        margin-left: 10px;
        width: 300px;
    }
 .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
    }
    
     .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
    }
    
   
